@font-face {
  font-family: 'GothamPro-Light';
  src: url('GothamPro-Light.eot?#iefix') format('embedded-opentype'),  url('GothamPro-Light.otf')  format('opentype'),
	     url('GothamPro-Light.woff') format('woff'), url('GothamPro-Light.ttf')  format('truetype'), url('GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}



body {
  font-family: 'Roboto', Helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiansed;
  -moz-osx-font-smoothing: grayscale; 
}

/* Style for "header" */
.container-1 {
  width: 1100px;
  margin: 0 auto;
  min-height: 77px;
}

.header {
  height: 435spx;
  background: #27273e;
  position: relative; 
  margin-bottom: 67px;
}

.logo,
.contacts {
  display: inline;
  position: absolute;
}

header .logo__pic {
  padding: 13px 19px;
}
.logo {
  left: 0;
}

.contacts {
 /* top: 22px; 
  bottom: 17px;*/
  right: 21px;
}

.contacts__phone {
  padding-top: 22px;
  font-size: 21px;
  font-family: 'GothamPro-Light', Helvetica, sans-serif;
}

.contacts__phone-link {
  /* Style for "8 (800) 00" */
  width: 198px;
  height: 18px;
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
}

.logo-fig {
  /* Style for "logo-fig" */
  width: 99px;
  height: 51px;
}

.contacts__shedule {
  text-align: right;
}

button {
  /* Style for "График раб" */
  background: #27273e;
  border: #27273e;
  color: #ec1e79;
  text-decoration: underline;
  font-size: 14px;
  opacity: 0.7;
}

.banner {
  display: block;
}

.container {
 position: relative;
 width: 1100px;
 margin: 0 auto;
 height: 1402px;
}

.container__block {
  display: inline;
 position: absolute;
}

.sidebar {
  width: 114px;
  display: inline-block;
  vertical-align: top;
  font-family: 'GothamPro-Light', Helvetica, sans-serif;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 20px;
}

.container__block {
  right: 0px;
  width: 906px;
  height: 1402px;
}

.menu > li {
  list-style: none;
  padding-left: 57px;
  width: 71px;
height: 11px;
margin-bottom: 38px;

text-decoration: underline;
text-transform: uppercase;

}

.menu__item {
  margin-bottom: 40px;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'GothamPro-Light', Helvetica, sans-serif;
  letter-spacing: 1.2px;
  font-size: 12px;
  font-weight: 700;
  margin-right: 19px;
  color: #000;
}
.menu__link:before {
  content: "";
  width: 20px;
  height: 18px;
  background: url(images/main_icon.png) center center no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.menu__text {
  max-width: 120px;
  display: inline-block;
}
.menu__link:hover {
  color: #ec1e79;
}
.menu__link:hover:before {
  background: url(images/main_icon2.png) center center no-repeat;
}

.menu__link__feedback, .menu__link__tarif {
  color: #ec1e79;
}

.menu__link__feedback:hover, .menu__link__tarif:hover {
  color: #000;
}

.menu__link__feedback:before {
  background-image: url(images/feed_icon.png) ; 
}
.menu__link__tarif:before {
  background-image: url(images/wallet_icon.png) ;
}

.menu__link__feedback:hover:before {
  background-image: url(images/feed_icon3.png); 
}
.menu__link__tarif:hover:before {
  background-image: url(images/wallet_icon3.png) ;
}

.maincontent {
  width: 906px;
}

.feateres {
  padding: 0;
  margin: 0;
  min-height: 387px;
  margin-bottom: 90px;
}

h1 {
  padding: 0;
  margin: 0;
}


.feateres__headline {
  font-size: 49px;
font-family: 'GothamPro-Light', Helvetica, sans-serif; 
}

.feateres__block {
 
  min-height: 286px;
}

.feateres__item {
display: inline-block;
text-align: center;
width: 207px;
min-height: 280px;
margin-right: 69px;
}

.feateres__icon {
  border-radius: 50%;
  border: 1px solid #000;
  background: #000;
  width: 72px;
  height: 72px;
  background-position: center;
  margin-bottom: 35px;
}

.feateres-pics, .feateres__icon {
  display: inline-block;
}

.feateres-pics {
  background-position: center;
}

.feateres__title {
color: #212121;
font-family: 'GothamPro-Light';
font-size: 11px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 2.88px
}

.feateres__text {
color: #221f1f;
font-family: 'GothamPro-Light';
font-size: 18px;
font-weight: 400;
}

.feateres__list-full {
  color: #cc3366;
  font-family: 'GothamPro-Light';
  font-size: 18px;
  line-height: 30px; 
  text-align: left;
}

.feateres__list-detail span {
  color: #221f1f;
}

.news {
  padding: 0;
  margin: 0;
  min-height: 813px;

}
 
.news__headline {
color: #221f1f;
font-family: 'GothamPro-Light', Tahoma, sans-serif;
font-size: 49px;
font-weight: 700;
line-height: 38px;
}

.news__headline-block {
  margin-bottom: 75px;
}

.news__item {
min-height: 194px;
width: 906px;
}

.news__item-border {
  width: 880px;
padding-top: 30px;
  border-top: 2px solid #f5f5f5;
}


.news__item-img {
  margin-right: 20px;
  width: 160px;
  height: 160px;
  display: inline-block;
  position: relative;
}

.news__item-content {
min-height: 190px;
max-width: 726px; 
display: inline-block;
position: absolute;
}
 
.news__item-content p {
  margin: 0;
  margin-bottom: 24px;
}

.news__item-pics {
  border-radius: 50%;
background-color:  #cfd8dc;
width: 160px;
height: 160px;
overflow: hidden;

}

.news__pagination {
  
 margin-left: 278px;
/*    display: inline-block;*/
  
  }
 /* clear: left;
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 74px;
*/
.news__pagination-pages {
  margin: 0;
  padding: 18px;
}
.news__pagination-item, .news__pagination-text,
 .news__pagination-elem, .news__pagination, .news__pagination-pages {
  display: inline;
}
.news__pagination-text {
margin-right: 20px;
color: #656464;
font-size: 14px;
font-weight: 300;
line-height: 21px;
}

.news__pagination-item {
color: #221f1f;
font-size: 14px;
font-weight: 700;
line-height: 21px;
}

.news__pagination-link, .news__pagination-prev-next {
  text-decoration: none;
}

.news__pagination-elem.news__pagination-prev-next {
  opacity: 0.3;
}

.footer {
  height: 435spx;
  background: #27273e;
  position: relative; 
}

.address, .logo, .networks {
  position: absolute;
  display: inline;
}

.address {
  left: 0;
  width: 264px;
  height: 48px;
 margin-left: 9px;
 margin-top: 14px;
color: #ffffff;
font-size: 14px;
font-weight: 300;
line-height: 18px;
font-family: 'GothamPro-Light';
font-style: normal;
}
.logo {
  margin-left: 500px;
  margin: 14px;
  text-align: center;
}

.networks {
  right: 0;
  width: 168px;
  height: 41px;
}

.address__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.address span {
  font-weight: 700;
}

.networks__title {
  /* Style for "Наши социа" */
width: 170px;
height: 12px;
color: #ffffff;
font-family: 'GothamPro-Light';
font-size: 12px;

margin-top: 20px;
}