.header-pic {/* Style for "Rectangle" */
/*width: 1100px;*/
height: 77px;
background-color: #27273e;
}
.logo-fig {/* Style for "logo-fig" */
width: 99px;
height: 51px;
}
.feeds__pics {/* Style for "Layer 9" */
width: 160px;
height: 160px;
}