@font-face {
  font-family: 'GothamPro';
  src: url('GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('GothamPro-Light.otf') format('opentype'),
    url('GothamPro-Light.woff') format('woff'), url('GothamPro-Light.ttf') format('truetype'), url('GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('GothamPro-Light.otf') format('opentype'),
    url(GothamPro-Bold.woff) format('woff'), url('GothamPro-Light.ttf') format('truetype'), url('GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: 700;
  font-style: normal;
}


html,
body {
  height: 100%;
}

.wrapper {
  min-width: 1100px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiansed;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.header {
  height: 77px;
  background: #27273e;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.logo-fig {
  width: 99px;
  height: 51px;
}

header .logo__pic {
  padding-top: 13px;
}

.contacts {
  padding-top: 22px;
}

.contacts__phone {
  font-size: 21px;
  font-family: 'GothamPro-Light', Helvetica, sans-serif;
font-weight: 700;
letter-spacing: 1.5px;
text-transform: uppercase;
}

.contacts__phone-link {
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
}


.contacts__shedule {
  text-align: right;
}

button {
  /* Style for "График раб" */
  background: #27273e;
  border: #27273e;
  color: #ec1e79;
  font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
  font-size: 14px;
  opacity: 0.7;
}

.banner {
  background: #27273e;
  height: 359px;
  margin-bottom: 67px;
}

.banner__pic {
  height: 359px;
}

.main-block .container {
  display: flex;
}

.main-block {
  margin-bottom: 70px;
}

.sidebar {
  width: 180px;
  vertical-align: top;
  font-family: 'GothamPro', Helvetica, sans-serif;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.menu>li {
  list-style: none;
  padding-left: 57px;
  width: 71px;
  height: 11px;
  margin-bottom: 38px;
  text-decoration: underline;
  text-transform: uppercase;
}

.menu__item {
  margin-bottom: 32px;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'GothamPro', Helvetica, sans-serif;
  letter-spacing: 1.2px;
  font-size: 12px;
  font-weight: 700;
  margin-right: 19px;
  color: #000;
}

.menu__link:before {
  content: "";
  width: 20px;
  height: 18px;
  background: url(images/main_icon.png) center center no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 19px;
}

.menu__text {
  max-width: 120px;
  display: inline-block;
}

.menu__link:hover {
  color: #ec1e79;
}

.menu__link:hover:before {
  background: url(images/main_icon2.png) center center no-repeat;
}

.menu__link__feedback,
.menu__link__tarif {
  color: #ec1e79;
}

.menu__link__feedback:hover,
.menu__link__tarif:hover {
  color: #000;
}

.menu__link__feedback:before {
  background-image: url(images/feed_icon.png);
}

.menu__link__tarif:before {
  background-image: url(images/wallet_icon.png);
}

.menu__link__feedback:hover:before {
  background-image: url(images/feed_icon3.png);
}

.menu__link__tarif:hover:before {
  background-image: url(images/wallet_icon3.png);
}

.container__block {
  right: 0px;
  width: 878px;
}

.maincontent {
  width: 878px;
}

.feateres {
  padding: 0;
  margin: 0;
  min-height: 387px;
  margin-bottom: 54px;
}


.feateres__headline {
  margin-bottom: 61px;
 
}

.feateres__headline-title {
  font-size: 49px;
 font-family: 'GothamPro', Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #221f1f;
  line-height: 38px;
  padding: 0;
  margin: 0;
}

.feateres__block {
  min-height: 286px;
  display: flex;
}

.feateres__item {
  text-align: center;
  width: 207px;
  min-height: 290px;
  margin-right: 69px;
}

.feateres__icon {
  border-radius: 50%;
  border: 1px solid #000;
  background: #000;
  width: 71px;
  height: 71px;
  background-position: center;
  margin-bottom: 31px;
  margin-left: 78px;
}

.feateres__pics {
  background-position: center;
  padding: 20px;
}

.feateres__title {
  color: #212121;
  font-family: 'GothamPro', Geneva, Tahoma, sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.88px;
  margin: 0;
  padding: 0;
  margin-left: 25px;
}

.feateres__text {
  color: #221f1f;
  font-family: 'GothamPro', Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  margin: 0;
  padding: 0;
  margin-top: 11px;
  margin-left: 2px;
}

.feateres__list-full {
  color: #cc3366;
  font-family: 'GothamPro', Geneva, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.feateres__list-detail span {
  color: #221f1f;
}

.news {
  padding: 0;
  margin: 0;
  color: #221f1f;
  font-size: 18px;
  font-weight: 300;
}

.news__headline-block {
  margin-bottom: 75px;
}


.news__headline {
  color: #221f1f;
  font-family: 'GothamPro', Geneva, Tahoma, sans-serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
}

.news__item {
  display: flex;
  /*  margin-bottom: 75px;*/
}

.news__item {
  min-height: 194px;
  width: 878px;
}

.news__item__border {
  width: 880px;
  padding-top: 28px;
  border-top: 2px solid #f5f5f5;
}


.news__item-img {
  margin-right: 20px;
  width: 160px;
  height: 160px;
}

.news__item-content {
  display: flex;
  flex-direction: column;
}

.news__item-content {
  max-width: 700px;
}

.news__item-text {
  margin: 0;
  font-family: Roboto;
font-weight: 300;
line-height: 30px;
}

.news__item-data {
  color: #656464;
font-family: Roboto;
font-size: 14px;
font-weight: 300;
line-height: 21px;
}

.news__item-title {
  font-family: Roboto;
font-weight: 700;
line-height: 3px;
font-size: 18px;
}

.news__item-pics {
  border-radius: 50%;
  background-color: #cfd8dc;
  width: 160px;
  height: 160px;
  overflow: hidden;
  object-fit: cover;
}

.news__pagination {
  margin-left: 278px; /* */
  padding-top: 38px;
}
.news__pagination-pages {
  margin: 0;
  padding: 0;
}

.news__pagination-pages .li {
  margin: 0;
  padding: 0;
/*width: 25px;
height: 25px;*/
}

.news__pagination__link__first {
background-color: #27273e;
color: #ffffff;
padding: 7px 10px;
}

.news__pagination-item,
.news__pagination-text,
.news__pagination-elem,
.news__pagination,
.news__pagination-pages {
  display: inline-block;
}

.news__pagination-text {
  margin-right: 20px;
  color: #656464;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  margin-bottom: 73px;
}

.news__pagination-item {
  color: #221f1f;
  font-size: 14px;
  font-weight: 700;
  margin-right: 17px;
}

.news__pagination__link,
.news__pagination-prev-next {
  text-decoration: none;
  color: #221f1f;/*
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 21px;
*/
}

.news__pagination-elem.news__pagination-prev-next {
  opacity: 0.3;
}

.footer {
  height: 77px;
  background: #27273e;
}

.footer .container {
display: flex;
justify-content: space-between;
}

.address {
  width: 264px;
  height: 48px;
  margin-top: 9px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  font-family: 'GothamPro';
  font-style: normal;
}

.footer .logo {
  margin-top: 14px;
  margin-right: 90px;
}

.networks {
  width: 168px;
  height: 41px;
}

.address__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.address span {
  font-weight: 700;
}

.networks__title h3 {
  /* Style for "Наши социа" */
  width: 170px;
  height: 12px;
  color: #ffffff;
  font-family: 'GothamPro';
  font-size: 13px;
  margin: 0;
  margin-top: 20px;
}

.networks__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 3px;
}


.networks__link {
  display: block;
  border-radius: 50%;
  border: 1px solid #d4d4d8;
  width: 18px;
  height: 18px;
  background-color: #d4d4d8;
  margin-top: 9px;
  margin-right: 9px;
}


.networks__link__vk {
  width: 12px;
  height: 7px;
background-image: url(images/vk.png);
background-position: center;
 /* background: url(images/vk.png) center center no-repeat;*/
}

.networks__link__fb {
  width: 6px;
  height: 13px;
  background-image: url(images/fb.png);
}

.networks__link__google {
  width: 15px;
  height: 9px;
  background-image: url(images/google.png);
}

.networks__link__twitter {
  width: 11px;
  height: 9px;
  background-image: url(images/twitter.png);
}

.networks__link__mail {
  width: 12px;
  height: 9px;
  background-image: url(images/mail.png);
}

.networks__link:hover {
  background-color: #ec1e79;
  border-radius: 50%;
  border: 1px solid #ec1e79;
}
