@font-face {
  font-family: 'GothamPro';
  src: url('GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('GothamPro-Light.otf') format('opentype'),
    url('../../fonts/GothamPro-Light.woff') format('woff'), url('GothamPro-Light.ttf') format('truetype'), url('GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('GothamPro-Light.otf') format('opentype'),
    url('../../fonts/GothamPro-Bold.woff') format('woff'), url('GothamPro-Light.ttf') format('truetype'), url('GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro Italic';
  src: url('GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('GothamPro-Light.otf') format('opentype'),
    url('../../fonts/GothamPro-LightItalic.woff') format('woff'), url('GothamPro-Light.ttf') format('truetype'), url('GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: normal;
  font-style: italic;
}