.container-form {
  width: 768px;
}

.form {
  padding: 51px 99px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  width: 100%;
  color: #221f1f;
  font-family: "GothamPro";
  font-size: 14px;
  font-weight: 300;
  margin-top: 57px;
  margin-bottom: 28px;
}

.form__headline {
  padding-bottom: 22px;
  padding-top: 8px;
}

.form__title {
  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
  margin: 0;
}

.form__block {
  display: flex;
  margin-bottom: 20px;
}

.form__input {
  flex: 1;
  margin-right: 22px;
}

.form__input:last-child {
  margin-right: 0;
}

.form__input-elem {
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 14px 9px;
  border: 1px solid transparent;
}

.form__input-elem:focus {
  border-color:  #ec1e79;
  outline: none;
}

.form__input-elem--textarea {
  resize: vertical;
  padding: 10px;
  min-height: 90px;
}

.form__buttons {
  display: flex;
  justify-content: space-between;
}

.form__check {
  user-select: none;
}

.form__input-title {
  margin-bottom: 2px;
}

.form__photo-title {
  color: #221f1f;
  font-family: "GothamPro";
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.form__radio {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 16px;
}

.form__radio-real {
  display: none;
}

.form__radio-visible {
  display: block;
  border: 1px solid #c9c9c9;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #ededed 0%, #ffffff 100%);
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
}

.form__radio-real:checked ~ .form__radio-visible:before {
  opacity: 1;
}

.form__radio-real:checked ~ .form__radio-text {
  color: #ec1e79;
}

.form__radio-visible:before {
content: "";
display: block;
width: 18px;
height: 18px;
background: url(../../images/Ellipse_3.png) center center no-repeat;
  border: 1px solid #ec1e79;
border-radius: 50%;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
opacity: 0;
}


.form__button__submit {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  padding: 18px 21px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  background-color: #27273e;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: .2s;
}

.form__button__submit:hover {
  background-color: #ec1e79;
  
}

