.wrapper-in {
  background-color: #ff0000;
  height: 100%;
}



.wrapper-in__block {
  background-image: url(../../images/Slice_2.jpg);
  background-size: cover;
  height: 100%;
  opacity: 0.85;
}


.container-in {

 margin: 0 auto;
  width: 184px;
  min-height: 192px;
  display: flex;

  flex-direction: column;
  align-items: center;
  animation-name: jackInTheBox;
  animation-duration: 3s;
  padding-top: 280px;
}

.container-in__logo {
  width: 161px;
height: 119px;
  background-image: url(logo.png);
  margin-bottom: 29px;
}

.container-in__link {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container-in__link-act {
  border: 3px solid #ec1e79;
  color: #ec1e79;
  font-family: "GothamPro";
  font-size: 12px;
  font-weight: 700;
  padding: 13px 19px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}



.container-in__link-act:hover {
  border: 3px solid #ec1e79;
background-color: #ec1e79;
color: #ffffff;
animation-play-state: paused;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(.1) rotate(30deg); 
    transform-origin: center bottom;
  }

  10% {
    transform: rotate(-10deg);
  }

  14% {
    transform: rotate(0.1deg);
    opacity: 1;
  }
   
  to {
    opacity: 1;
    transform: scale(1);
  }
}