.main-block .container {
  display: flex;
}

.main-block {
  margin-bottom: 70px;
}

.container__block {
  right: 0px;
  width: 878px;
}

.maincontent {
  width: 878px;
}

.main-block__comments {
  margin-top: 44px;
}

.main-block__prices {
  margin-top: 45px;
}