.networks {
  display: flex;
  flex-direction: column;
}

.networks .networks__title h3 {
  /* Style for "Наши социа" */
  font-family: 'GothamPro';
  margin: 0;
  margin-top: 23px;
  color: #221f1f;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.networks__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.networks__item {
  width: 15px;
  height: 15px;
  margin: 7px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.networks__link {
  display: block;

  display: flex;
  justify-content: center;
  align-items: center;

}

.networks__link-vk {
  width: 12px;
  height: 7px;
  background-image: url(../../images/spritesheet.png);
  background-position: -5px -86px;
}

.networks__link-fb {
  width: 6px;
  height: 13px;
  background-image: url(../../images/spritesheet.png);
  background-position: -23px -5px;
}

.networks__link-google {
  width: 15px;
  height: 9px;
  background-image: url(../../images/spritesheet.png);
  background-position: -42px -33px;
}

.networks__link-twitter {
  width: 11px;
  height: 9px;
  background-image: url(../../images/spritesheet.png);
  background-position: -134px -47px;
}

.networks__link-mail {
  width: 12px;
  height: 9px;
  background-image: url(../../images/spritesheet.png);
  background-position: -67px -33px;
}

.networks__item:hover {
  background-color: #ec1e79;
  border-radius: 50%;
  transition: background-color .5s;
}