.partners {
  width: 860px;
}

.partners__title {
  color: #221f1f;
  font-family: "GothamPro";
  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 52px;
  margin-top: 14px;
}

.partners__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.partners__list__item {
  margin-bottom: 60px;
  width: 33%;
}