.sidebar {
  width: 24%;
  vertical-align: top;
  font-family: 'GothamPro', Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin-right: 27px;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header__col--center {
  margin-right: 15px;
}

.menu>li {
  list-style: none;
  padding-left: 57px;
  width: 71px;
  height: 11px;
  margin-bottom: 38px;
  text-decoration: underline;
  text-transform: uppercase;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'GothamPro', Helvetica, sans-serif;
  letter-spacing: 1.2px;
  font-size: 12px;
  font-weight: 700;
  margin-right: 19px;
  color: #ec1e79;
  transition: color .5s;
  position: relative;
}

.menu__link:before {
  content: "";
  width: 20px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  position: relative;
  opacity: 1;
  transition: opacity .5s;
}

.menu__link:after {
  content: "";
  width: 20px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin-left: -114px;
  margin-bottom: -3.3px;
  opacity: 0;
  transition: opacity .5s;
}

.header .menu__link {
  color: #ffffff;
}

.menu__item {
  margin-right: 74px;
}

.menu__list--about {
  margin-left: 120px;
}

.menu__text {
  max-width: 120px;
  display: inline-block;
}

.menu__link__main:before {
  background: url(../../images/spritesheet.png) center center no-repeat;
  background-position: -69px -52px;
}

.menu__link__main:after {
  background: url(../../images/spritesheet.png) center center no-repeat;
  background-position: -42px -52px;
  opacity: 0;
  top: -4px;
}

.menu__link__main:hover:before {
  background: url(../../images/spritesheet.png) center center no-repeat;
  background-position: -69px -52px;
  opacity: 0;

}

.menu__link__main:hover:after {
  background: url(../../images/spritesheet.png) center center no-repeat;
  background-position: -42px -52px;
  opacity: 1;

}

.menu__link__main-active:hover::before {
  opacity: 1;
}

.menu__link__main-active:hover:after {
  opacity: 0;
}

.menu__link__feedback-active,
.menu__link__tariff-active,
.menu__link__main-active {
  color: #000;
}

.menu__link__main:hover,
.menu__link__feedback:hover,
.menu__link__tariff:hover {
  color: #000;
}

.menu__link__feedback:before {
  background-image: url(../../images/spritesheet.png);
  background-position: -39px -5px;
}

.menu__link__feedback:after {
  background-image: url(../../images/spritesheet.png);
  background-position: -69px -5px;
  bottom: -2.5px;
  left: 113.3px;
  opacity: 0;
  top: -4px;
}

.menu__link__feedback:hover:before {
  opacity: 0;
}

.menu__link__feedback:hover:after {
  opacity: 1;
}


.menu__link__tariff:before {
  background-image: url(../../images/spritesheet.png);
  background-position: -27px -86px;
}

.menu__link__tariff:after {
  background-image: url(../../images/spritesheet.png);
  background-position: -56px -86px;
  top: -4px;
  left: 114px;
}

.menu__link__tariff:hover:before {
  opacity: 0;
}

.menu__link__tariff:hover:after {
  opacity: 1;
}

.menu__link__feedback-active:before {
  background-image: url(../../images/spritesheet.png);
  background-position: -69px -5px;
}

.menu__link__feedback-active:after {
  background-image: url(../../images/spritesheet.png);
  background-position: -39px -5px;
}

.menu__link__feedback-active:hover:before {
  opacity: 0;
}

.menu__link__feedback-active:hover:after {
  opacity: 1;
}

.menu__link__tariff-active:before {
  background-image: url(../../images/spritesheet.png);
  background-position: -56px -86px;
}

.menu__link__tariff-active:after {
  background-image: url(../../images/spritesheet.png);
  background-position: -27px -86px;
}

.menu__link__tariff-active:hover:before {
  opacity: 0;
}

.menu__link__tariff-active:hover:after {
  opacity: 1;
}


.menu__link__main-active:hover,
.menu__link__feedback-active:hover,
.menu__link__tariff-active:hover {
  color: #ec1e79;
}

.header .menu__link__main-active:before {
  background: url(../../images/spritesheet.png) center center no-repeat;
  background-position: -69px -52px;
}

.header .menu__link__feedback:before {
  background: url(../../images/feed_icon_white.png)center center no-repeat;
}

.header .menu__link__feedback:after {
  background: url(../../images/spritesheet.png);
  background-position: -39px -5px;
}

.header .menu__link__feedback:hover:before {
  opacity: 0;
  transition: .5s;
}

.header .menu__link__feedback:hover:after {
  opacity: 1;
  transition: .5s;
}


.header .menu__link__tariff:before {
  background: url(../../images/wallet_icon_white.png) center center no-repeat;
}

.header .menu__link__tariff:after {
  background: url(../../images/spritesheet.png);
  background-position: -27px -86px;
}

.header .menu__link__tariff:hover:before {
  opacity: 0;
}

.header .menu__link__tariff:hover:after {
  opacity: 1;
}


.header .menu__link__main-active {
  color: #ec1e79;
}

.header .menu__link__feedback:hover,
.header .menu__link__tariff:hover {
  color: #ec1e79;
}