.sidebar {
  width: 25%;
  vertical-align: top;
  font-family: 'GothamPro', Helvetica, sans-serif;
  display: flex;
  flex-direction:  column;
  margin-right: 24px;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.menu>li {
  list-style: none;
  padding-left: 57px;
  width: 71px;
  height: 11px;
  margin-bottom: 38px;
  text-decoration: underline;
  text-transform: uppercase;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'GothamPro', Helvetica, sans-serif;
  letter-spacing: 1.2px;
  font-size: 12px;
  font-weight: 700;
  margin-right: 19px;
  color: #ec1e79; 
}

.menu__link:before {
  content: "";
  width: 20px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 19px;
}

.header .menu__link {
  color: #ffffff;
}
  


.menu__text {
  max-width: 120px;
  display: inline-block;
}

.menu__link__main:before {
 background: url(../../images/spritesheet.png) center center no-repeat;
 background-position: -69px -52px;
}

.menu__link__main-active:before {
  background: url(../../images/spritesheet.png) center center no-repeat;
  background-position: -42px -52px;
}

.menu__link__main:hover:before {
  background: url(../../images/spritesheet.png) center center no-repeat;
  background-position: -42px -52px;
}

.menu__link__main-active:hover:before {  /* */
  background-image: url(../../images/spritesheet.png);
  background-position: -69px -52px;
}

.menu__link__feedback-active, .menu__link__tariff-active, .menu__link__main-active  {
  color: #000; 
}

.menu__link__main:hover,
.menu__link__feedback:hover,
.menu__link__tariff:hover {
  color: #000;
}


.menu__link__feedback:before {
  background-image: url(../../images/spritesheet.png);
  background-position: -39px -5px;
}

.menu__link__tariff:before {
  background-image: url(../../images/spritesheet.png);
  background-position: -27px -86px;
}

.menu__link__feedback:hover:before {
  background-image: url(../../images/spritesheet.png);
  background-position: -69px -5px;
}

.menu__link__tariff:hover:before {
  background-image: url(../../images/spritesheet.png);
  background-position: -56px -86px;
}

.menu__link__feedback-active:before {
  background-image: url(../../images/spritesheet.png);
  background-position: -69px -5px;
}

.menu__link__feedback-active:hover:before {
  background-image: url(../../images/spritesheet.png);
  background-position: -39px -5px;
}

.menu__link__tariff-active:before {
  background-image: url(../../images/spritesheet.png);
  background-position: -56px -86px;
}

.menu__link__tariff-active:hover:before {
  background-image: url(../../images/spritesheet.png);
  background-position: -27px -86px;
}

.menu__link__main-active:hover, .menu__link__feedback-active:hover, .menu__link__tariff-active:hover  {
  color: #ec1e79;
}

.header .menu__link__main-active:before {
  background: url(../../images/spritesheet.png) center center no-repeat;
  background-position: -69px -52px;
  }

  .header .menu__link__feedback:before {
    background: url(../../images/feed_icon_white.png)center center no-repeat;
  }

  .header .menu__link__tariff:before {
    background: url(../../images/wallet_icon_white.png) center center no-repeat;
  }
 .header .menu__link__main-active {
  color: #ec1e79;
 }

 .header .menu__link__feedback:hover, .header .menu__link__tariff:hover {
  color: #ec1e79;
 }

 .header .menu__link__feedback:hover:before {
   background: url(../../images/spritesheet.png);
   background-position: -39px -5px;
 }
 .header .menu__link__tariff:hover:before {
   background: url(../../images/spritesheet.png);
   background-position: -27px -86px;
 }